<div>
    <h1>Csapatok kezelése</h1>
    <!--{{csapatService.filteredCsapatok.length}}-->
    <table>

        <thead>
            <tr>
                <th>Név</th>
                <th>Pálya név</th>
                <th>Cím</th>
                <th>Férőhely</th>
            </tr>
        </thead>
        <tbody>
            <ng-container
                *ngIf="csapatService.filteredCsapatok.length > 0"
            >
                <tr
                    *ngFor="let csapat of csapatService.filteredCsapatok"
                    [routerLink]="['/', 'csapatok', csapat.id]"
                >
                    <td>{{ csapat.nev }}</td>
                    <td>{{ csapat.palya_nev }}</td>
                    <td>{{ csapat.cim }}</td>
                    <td>{{ csapat.ferohely }}</td>
                </tr>
            </ng-container>
            <tr
                *ngIf="csapatService.filteredCsapatok.length === 0"
            >
                <td
                    colspan="3"
                >Nincs játékos</td>
            </tr>
                
        </tbody>
    </table>
</div>
