<div>
    <h1>Meccsek kezelése</h1>
    <!--{{meccsService.filteredMeccsek.length}}-->
    <table>

        <thead>
            <tr>
                <th>Nap</th>
                <th>Kezdési idő</th>
                <th>Hazai eredmeny</th>
                <th>Vendeg eredmeny</th>
            </tr>
        </thead>
        <tbody>
            <ng-container
                *ngIf="meccsService.filteredMeccsek.length > 0"
            >
                <tr
                    *ngFor="let meccs of meccsService.filteredMeccsek"
                    [routerLink]="['/', 'meccsek', meccs.nap]"
                >
                    <td>{{ meccs.nap }}</td>
                    <td>{{ meccs.kezdes_ido }}</td>
                    <td>{{ meccs.hazai_eredmeny }}</td>
                    <td>{{ meccs.vendeg_eredmeny }}</td>
                </tr>
            </ng-container>
            <tr
                *ngIf="meccsService.filteredMeccsek.length === 0"
            >
                <td
                    colspan="3"
                >Nincs játékos</td>
            </tr>
                
        </tbody>
    </table>
</div>

